/* Estilização geral */
/* ------------------------------- */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #0d0d0d;
  color: #d9d9d9;
}

header,
footer {
  display: flex;
  width: 100%;
  height: 5rem;
  margin: 0;
  background-color: #161616;
  box-shadow: 0 0 1rem #161616;
}

header {
  align-items: center;
}

ul {
  list-style-type: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #b2b2b2;
  text-decoration: none;
}

#margin {
  margin: 0 5rem 0 5rem;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #161616;
  box-shadow: 0 0 3px #161616;
}

@media (max-width: 426px) {
  #margin {
    margin: 0 2rem 0 2rem;
  }
}

.social-icon {
  width: 40px;
}

/* Tipografia */
/* ------------------------------- */
.title {
  font-size: 30px;
  text-shadow: 0 0 2px #d9d9d9;
}

.header-links {
  font-size: 20px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.descrption {
  text-align: center;
}

.social {
  display: flex;
  margin-right: 2rem;
}

/* Header */
/* ------------------------------- */
header {
  justify-content: space-between;
}

#page-title {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 2rem;
}

#header-divider {
  margin-right: 5rem;
}

#anchors {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 560px) {
  #page-title {
    margin-left: 1rem;
    font-size: 10px;
  }

  .header-links {
    font-size: 0.8rem;
    margin: 6px;
  }
}

@media (min-width: 561px) and (max-width: 1110px) {
  header {
    align-items: center;
  }

  #page-title {
    margin-left: 1rem;
  }
}

/* Main Section */
/* ------------------------------- */
#top-icons {
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: center;
  margin-top: 1rem;
}

#top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 426px) {
  #top-icons {
    display: none;
  }

  #top-container {
    text-align: center;
  }
}

@media (max-width: 625px) {
  #top-container {
    text-align: center;
  }
}

/* Planet cards */
/* ------------------------------- */
#card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: min-content;
  margin: 2rem;
  border-radius: 10px;
  border: 1px solid #121212;
  background-color: #161616;
}

.card-picture {
  width: 19rem;
  height: 17rem;
  border-radius: 11px;
}

.card-text {
  margin: 2rem;
  font-size: 15px;
  text-align: left;
}

.planet-links {
  text-align: center;
  width: 50%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: #333;
  border: 1px solid #222;
  box-shadow: 0 0 3px #222;
}

/* About Me */
/* ------------------------------- */
#about {
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin: 2rem;
}

#foto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#right-about {
  display: flex;
  justify-content: center;
  margin: 4rem;
  background-color: #161616;
  border-radius: 10px;
  border: 1px solid #121212;
}

#right-about p {
  padding: 1rem;
}

@media (min-width: 320px) and (max-width: 1024px) {
  #about {
    flex-direction: column;
  }
}

@media (max-width: 426px) {
  #left-about {
    width: 50%;
  }
  #right-about {
    width: 80%;
  }
}

/* Newsletter / Forms */
/* ------------------------------- */
#newsletter {
  display: flex;
  justify-content: center;
  background-color: #1c1c1c;
  box-shadow: 0 0 1rem #131313;
  padding: 2rem;
  margin-bottom: 4rem;
  border-radius: 10px;
}

#news-title {
  text-align: center;
  font-size: 23px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  gap: 1rem;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 8px 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #f4f4f4;
  background-color: #333;
  border: 1px solid #222;
  border-radius: 10px;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #c08640;
  outline: none;
}

input[type="submit"] {
  width: 100%;
  background-color: #c08640;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #9d6b2e;
}

/* Footer */
/* ------------------------------- */
#left-footer {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  font-size: small;
  gap: 2rem;
}

#right-footer {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  margin-top: 0;
  width: 50%;
  height: 100%;
}

.footer-text {
  margin: 0 15px 0 15px;
}

#footer-top-text {
  margin-top: 5px;
}

#footer-bottom-text {
  margin-bottom: 5px;
}

@media (min-width: 320px) and (max-width: 1024px) {
  footer {
    flex-direction: column;
    height: fit-content;
    align-items: center;
    text-align: center;
  }

  .social-icon {
    width: 35px;
  }

  #right-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Planets coloring by id */
/* ------------------------------- */
#sol {
  box-shadow: 0 0 25px #6b3c00;
}

#mercurio {
  box-shadow: 0 0 25px #8d888c;
}

#venus {
  box-shadow: 0 0 25px #b9b5a8;
}

#terra {
  box-shadow: 0 0 25px #014d00;
}

#marte {
  box-shadow: 0 0 25px #511400;
}

#jupiter {
  box-shadow: 0 0 25px #58452b;
}

#saturno {
  box-shadow: 0 0 25px #62573f;
}

#urano {
  box-shadow: 0 0 25px #3e4d56;
}

#netuno {
  box-shadow: 0 0 25px #314461;
}
