/* Estilização geral */
/* ------------------------------- */
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #0d0d0d;
  color: #d9d9d9;
}

header,
footer {
  display: flex;
  width: 100%;
  height: 5rem;
  margin: 0;
  background-color: #161616;
  box-shadow: 0 0 1rem #161616;
}

ul {
  list-style-type: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #b2b2b2;
  text-decoration: none;
}

#margin {
  margin: 0 5rem 0 5rem;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #161616;
  box-shadow: 0 0 3px #161616;
}

/* Tipografia */
/* ------------------------------- */
.title {
  font-size: 30px;
  text-shadow: 0 0 2px #d9d9d9;
}

.header-links {
  font-size: 20px;
}

.descrption {
  text-align: center;
}

.social {
  display: flex;
  margin-right: 2rem;
}

/* Header */
/* ------------------------------- */
#page-title {
  width: 20%;
  margin-left: 2rem;
}

#anchors {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Main Section */
/* ------------------------------- */
#top-icons {
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: center;
  margin-top: 1rem;
}

#top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Planet cards */
/* ------------------------------- */
#card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: min-content;
  margin: 2rem;
  border-radius: 10px;
  background-color: #161616;
}

.card-picture {
  width: 19rem;
  height: 17rem;
  border-radius: 11px;
}

.card-text {
  margin: 5px;
  text-align: center;
  font-size: 15px;
}

/* About Me */
/* ------------------------------- */
#about {
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-about {
  width: 20%;
  margin: 2rem;
}

#foto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#right-about {
  display: flex;
  justify-content: center;
}

/* Newsletter / Forms */
/* ------------------------------- */
#newsletter {
  background-color: #1c1c1c;
  box-shadow: 0 0 1rem #131313;
  padding: 2rem;
  margin-bottom: 4rem;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Footer */
/* ------------------------------- */
#left-footer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#right-footer {
  display: flex;
  align-content: center;
  justify-content: right;
  width: 50%;
}

.footer-text {
  margin: 12px;
}

/* Planets coloring by id */
/* ------------------------------- */
#sol {
  border: 1px solid #6b3c00;
  box-shadow: 0 0 3px #6b3c00;
}

#mercurio {
  border: 1px solid #8d888c;
  box-shadow: 0 0 3px #8d888c;
}

#venus {
  border: 1px solid #b9b5a8;
  box-shadow: 0 0 3px #b9b5a8;
}

#terra {
  border: 1px solid #014d00;
  box-shadow: 0 0 3px #014d00;
}

#marte {
  border: 1px solid #751f02;
  box-shadow: 0 0 3px #511400;
}

#jupiter {
  border: 1px solid #58452b;
  box-shadow: 0 0 3px #58452b;
}

#saturno {
  border: 1px solid #62573f;
  box-shadow: 0 0 3px #62573f;
}

#urano {
  border: 1px solid #3e4d56;
  box-shadow: 0 0 3px #3e4d56;
}

#netuno {
  border: 1px solid #314461;
  box-shadow: 0 0 3px #314461;
}
